.page-header {
  display: flex;
  width: 100%;
  padding-top: 62px;
  padding-left: 73px;
  padding-right: 70px;
}


.page-header__nav {
  display: flex;
}

.page-header__list {
  display: flex;
  min-width: 738px;
  justify-content: space-between;
  align-items: flex-end;
}

.page-header__tel {
  padding-top: 15px;
  margin-left: auto;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}

.page-header__item {
  list-style-type: none;
  margin-right: 48px;
  font-size: 13px;
  text-transform: uppercase;
}

.page-header__logo {
  width: 67px;
  height: 18px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: inline-block;
}
