.filling {
  padding: 74px 123px 93px 82px;
}

.filling__header {
  margin: 0;
  width: 133px;
  font-family: $fontHeader;
  font-size: 27px;
  line-height: 30px;
  color: $projectPink;
}

.filling__header-order {
  display: block;
  font-size: 58px;
  line-height: 58px;
}
