.sizes {
  padding: 75px 158px 140px;    
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;

}

.sizes__header {
  font-family: $fontHeader;
  color: $projectPink;
  top: 54px;
  left: 82px;
  width: 140px;
  font-size: 27px;
  line-height: 30px;
  position: absolute;
}

.sizes__header-order {
  display: block;
  font-size: 58px;
  line-height: 58px;
}

.sizes__list {
  display: flex;
  justify-content: space-between;
}

.sizes__item {
  align-items: flex-start;
  flex-shrink: 3;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: none;
}

.sizes__item-description {
  min-width: 126px;
  margin-top: 35px;
}
